---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
import LinkedInIcon from '../components/icons/LinkedIn.astro';
import GithubIcon from '../components/icons/Github.astro';
import MailIcon from '../components/icons/Mail.astro';
import SocialBadge from '../components/SocialBadge.astro';
import Briefcase from '../components/icons/Briefcase.astro';
import Experience from '../components/Experience.astro';
import SectionContainer from '../components/SectionContainer.astro';
import CodeIcon from '../components/icons/Code.astro';
import Projects from '../components/Projects.astro';
---

<Layout title="Javier Sin - Portfolio" description="Javier Sin's Porfolio. Last year's Computer Science Student at the University of Rhode Island">
	<main class="px-4">
		<SectionContainer class="py-44 pb-32">
			<img class="rounded-full size-20 mb-4 object-cover object-top z-10" src="/profile_pic.jpg" alt="Javier Sin's picture"/>
			<h1 class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10">
				Hey, I'm Javier Sin 
				<a href="https://linkedin.com/in/javier-sin-pelayo/" target="_blank" rel="noopener" class="flex justify-center items-center">
					<Badge>Available for hiring</Badge>
				</a>
			</h1>

			<h2 class="text-xl lg:text-2xl opacity-80 text-pretty max-w-[700px]">
				Last year <span class="text-orange-300">Computer Science student</span> from Zaragoza, Spain. 
				Currently studying at the <span class="text-blue-500/80">University of Rhode Island</span>.
				Eager to become a great <span class="text-green-500/80">Full Stack</span> Developer.
			</h2>

			<nav class="flex flex-wrap gap-4 mt-8">
				<ul>
					<li class="flex flex-row gap-x-4">
						<SocialBadge href="https://linkedin.com/in/javier-sin-pelayo/">
							<LinkedInIcon class="size-4 lg:size-6"/>
							LinkedIn
						</SocialBadge>	
						<SocialBadge href="https://github.com/javisin22">
							<GithubIcon class="size-4 lg:size-6"/>
							GitHub
						</SocialBadge>
						<SocialBadge href="mailto:javiersinpelayo@gmail.com">
							<MailIcon class="size-4 lg:size-6"/>
							javiersinpelayo@gmail.com
						</SocialBadge>

					</li>
				</ul>
			</nav>
		</SectionContainer>

		<SectionContainer id="experience">
			<h2 class="flex gap-x-3 items-center 3xl font-semibold mb-6">
				<Briefcase class="size-7"/>
				Work Experience
			</h2>
			<Experience/>
		</SectionContainer>

		<SectionContainer id="experience">
			<h2 class="flex gap-x-3 items-center 3xl font-semibold mb-6">
				<CodeIcon class="size-7"/>
				Projects
			</h2>
			<Projects/>
		</SectionContainer>

	</main>
</Layout>
