---
import ExperienceItem from "./ExperienceItem.astro"

const EXPERIENCE = [
    {
        date: "Now...",
        title: "Computer Science Student - Last Year",
        description: "Computer Science student at my last year of the degree. I'm currently studying at the University of Rhode Island as part of an International Engineering Program, being a beneficiary of one of the 15 scholarships for the whole University of Zaragoza.",
        link: "#"

    },
    {
        date: "2021 - Now",
        title: "Programming, Maths and Physics - Particular Classes Teacher",
        description: "I've been teaching particular classes to high school students in the subjects of programming, maths and physics. I've been helping them to understand the concepts and to improve their grades."
    }
]
---

<ol class="relative border-s border-gray-200 dark:border-gray-700">                  
    {
        EXPERIENCE.map((experience) => (
            <li class="mb-10 ms-4">
                <ExperienceItem {...experience} />
            </li>
        ))
    }
</ol>

